Importar las librerías necesarias para crear la conexión y trbajar con Pandas.

Ejercicio 1

In [17]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

Ejercicio 2

Crear la conexión a la base de datos Northwind que devuelva un mensaje de error si algo no ocurre cómo debería.

In [8]:
cnx = mysql.connector.connect(user="root", password="AlumnaAdalab", host="localhost", database="northwind")

mycursor = cnx.cursor()

mycursor.execute("SHOW DATABASES")
resultado = mycursor.fetchall()

In [6]:
resultado

[('BD_pruebas',),
 ('CLASE 1',),
 ('clase_1',),
 ('ejercicio_06',),
 ('ejercicios_2',),
 ('information_schema',),
 ('leccion-1-sql',),
 ('leccion-10-sql',),
 ('leccion-11-sql',),
 ('leccion-12-sql',),
 ('leccion-13-sql',),
 ('leccion-14-sql',),
 ('leccion-2-sql',),
 ('leccion-3-sql',),
 ('leccion-4-sql',),
 ('leccion-5-sql',),
 ('leccion-6-sql',),
 ('leccion-7-sql',),
 ('leccion-8-sql',),
 ('leccion-9-sql',),
 ('movies_database',),
 ('mysql',),
 ('northwind',),
 ('online2',),
 ('performance_schema',),
 ('prueba',),
 ('sakila',),
 ('sys',),
 ('tienda',),
 ('tienda_zapatillas',),
 ('world',)]

In [9]:
for x in resultado:
    print(x)

('BD_pruebas',)
('CLASE 1',)
('clase_1',)
('ejercicio_06',)
('ejercicios_2',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('movies_database',)
('mysql',)
('northwind',)
('online2',)
('performance_schema',)
('prueba',)
('sakila',)
('sys',)
('tienda',)
('tienda_zapatillas',)
('world',)

In [10]:
for x in resultado:
    if "northwind" in x:
        print(x[0])

northwind

Ejercicio 3

Usando "information_schema", extraer los nombres de las columnas de la tabla "customers" de la BBDD "northwind".

In [18]:
import mysql.connector

#aqui creo el conector 
cnx = mysql.connector.connect(user="root", 
                              password="AlumnaAdalab", 
                              host="localhost", 
                              database="northwind")

#aqui creo el cursor 
mycursor = cnx.cursor()
query_customers = "SELECT column_name FROM information_schema.columns WHERE table_schema = 'northwind' AND table_name = 'customers'"

#aqui ejecuto la query que he pedido 
mycursor.execute(query_customers)

nombre_columnas = mycursor.fetchall()

for columna in nombre_columnas:
    print(columna[0])



mycursor.close()
cnx.close()

customer_id
company_name
contact_name
contact_title
address
city
region
postal_code
country
phone
fax

In [19]:
df = pd.read_sql_query(nombre_columnas, cnx)

/var/folders/0y/6c7tk79131b8wnpg6jzszg_m0000gn/T/ipykernel_2678/1565678028.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(nombre_columnas, cnx)

TypeError: Query must be a string unless using sqlalchemy.

Ejercicio 4 y 5

Seleccionar todo de la tabla "customers" donde "country" sea "USA" o "Germany". Almacenar los resultados en una variable.

In [21]:
import mysql.connector

#aqui creo el conector 
cnx = mysql.connector.connect(user="root", 
                              password="AlumnaAdalab", 
                              host="localhost", 
                              database="northwind")

#aqui creo el cursor 
mycursor = cnx.cursor()
query_country = "SELECT * FROM customers WHERE country = 'USA' OR country = 'Germany'"

#aqui ejecuto la query que he pedido 
mycursor.execute(query_country)

result_countries = mycursor.fetchall()

df_countries = pd.read_sql_query(query_country, cnx)


mycursor.close()
cnx.close()

/var/folders/0y/6c7tk79131b8wnpg6jzszg_m0000gn/T/ipykernel_2678/423393327.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_countries = pd.read_sql_query(query_country, cnx)

In [22]:
df_countries

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,,12209,Germany,030-0074321,030-0076545
1,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,,68306,Germany,0621-08460,0621-08924
2,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,,52066,Germany,0241-039123,0241-059428
3,FRANK,Frankenversand,Peter Franken,Marketing Manager,Berliner Platz 43,M?nchen,,80805,Germany,089-0877310,089-0877451
4,GREAL,Great Lakes Food Market,Howard Snyder,Marketing Manager,2732 Baker Blvd.,Eugene,OR,97403,USA,(503) 555-7555,
5,HUNGC,Hungry Coyote Import Store,Yoshi Latimer,Sales Representative,City Center Plaza 516 Main St.,Elgin,OR,97827,USA,(503) 555-6874,(503) 555-2376
6,KOENE,K?niglich Essen,Philip Cramer,Sales Associate,Maubelstr. 90,Brandenburg,,14776,Germany,0555-09876,
7,LAZYK,Lazy K Kountry Store,John Steel,Marketing Manager,12 Orchestra Terrace,Walla Walla,WA,99362,USA,(509) 555-7969,(509) 555-6221
8,LEHMS,Lehmanns Marktstand,Renate Messner,Sales Representative,Magazinweg 7,Frankfurt a.M.,,60528,Germany,069-0245984,069-0245874
9,LETSS,Let's Stop N Shop,Jaime Yorres,Owner,87 Polk St. Suite 5,San Francisco,CA,94117,USA,(415) 555-5938,
10,LONEP,Lonesome Pine Restaurant,Fran Wilson,Sales Manager,89 Chiaroscuro Rd.,Portland,OR,97219,USA,(503) 555-9573,(503) 555-9646
11,MORGK,Morgenstern Gesundkost,Alexander Feuer,Marketing Assistant,Heerstr. 22,Leipzig,,04179,Germany,0342-023176,
12,OLDWO,Old World Delicatessen,Rene Phillips,Sales Representative,2743 Bering St.,Anchorage,AK,99508,USA,(907) 555-7584,(907) 555-2880
13,OTTIK,Ottilies K?seladen,Henriette Pfalzheim,Owner,Mehrheimerstr. 369,K?ln,,50739,Germany,0221-0644327,0221-0765721
14,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstra?e 10,Cunewalde,,01307,Germany,0372-035188,
15,RATTC,Rattlesnake Canyon Grocery,Paula Wilson,Assistant Sales Representative,2817 Milton Dr.,Albuquerque,NM,87110,USA,(505) 555-5939,(505) 555-3620
16,SAVEA,Save-a-lot Markets,Jose Pavarotti,Sales Representative,187 Suffolk Ln.,Boise,ID,83720,USA,(208) 555-8097,
17,SPLIR,Split Rail Beer & Ale,Art Braunschweiger,Sales Manager,P.O. Box 555,Lander,WY,82520,USA,(307) 555-4680,(307) 555-6525
18,THEBI,The Big Cheese,Liz Nixon,Marketing Manager,89 Jefferson Way Suite 2,Portland,OR,97201,USA,(503) 555-3612,
19,THECR,The Cracker Box,Liu Wong,Marketing Assistant,55 Grizzly Peak Rd.,Butte,MT,59801,USA,(406) 555-5834,(406) 555-8083
20,TOMSP,Toms Spezialit?ten,Karin Josephs,Marketing Manager,Luisenstr. 48,M?nster,,44087,Germany,0251-031259,0251-035695
21,TRAIH,Trail's Head Gourmet Provisioners,Helvetius Nagy,Sales Associate,722 DaVinci Blvd.,Kirkland,WA,98034,USA,(206) 555-8257,(206) 555-2174
22,WANDK,Die Wandernde Kuh,Rita M?ller,Sales Representative,Adenauerallee 900,Stuttgart,,70563,Germany,0711-020361,0711-035428
23,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115

Ejercicio 6- head y tail

In [24]:
df_countries.head(11)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,,12209,Germany,030-0074321,030-0076545
1,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,,68306,Germany,0621-08460,0621-08924
2,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,,52066,Germany,0241-039123,0241-059428
3,FRANK,Frankenversand,Peter Franken,Marketing Manager,Berliner Platz 43,M?nchen,,80805,Germany,089-0877310,089-0877451
4,GREAL,Great Lakes Food Market,Howard Snyder,Marketing Manager,2732 Baker Blvd.,Eugene,OR,97403,USA,(503) 555-7555,
5,HUNGC,Hungry Coyote Import Store,Yoshi Latimer,Sales Representative,City Center Plaza 516 Main St.,Elgin,OR,97827,USA,(503) 555-6874,(503) 555-2376
6,KOENE,K?niglich Essen,Philip Cramer,Sales Associate,Maubelstr. 90,Brandenburg,,14776,Germany,0555-09876,
7,LAZYK,Lazy K Kountry Store,John Steel,Marketing Manager,12 Orchestra Terrace,Walla Walla,WA,99362,USA,(509) 555-7969,(509) 555-6221
8,LEHMS,Lehmanns Marktstand,Renate Messner,Sales Representative,Magazinweg 7,Frankfurt a.M.,,60528,Germany,069-0245984,069-0245874
9,LETSS,Let's Stop N Shop,Jaime Yorres,Owner,87 Polk St. Suite 5,San Francisco,CA,94117,USA,(415) 555-5938,
10,LONEP,Lonesome Pine Restaurant,Fran Wilson,Sales Manager,89 Chiaroscuro Rd.,Portland,OR,97219,USA,(503) 555-9573,(503) 555-9646

In [25]:
df_countries.tail(11)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
13,OTTIK,Ottilies K?seladen,Henriette Pfalzheim,Owner,Mehrheimerstr. 369,K?ln,,50739,Germany,0221-0644327,0221-0765721
14,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstra?e 10,Cunewalde,,01307,Germany,0372-035188,
15,RATTC,Rattlesnake Canyon Grocery,Paula Wilson,Assistant Sales Representative,2817 Milton Dr.,Albuquerque,NM,87110,USA,(505) 555-5939,(505) 555-3620
16,SAVEA,Save-a-lot Markets,Jose Pavarotti,Sales Representative,187 Suffolk Ln.,Boise,ID,83720,USA,(208) 555-8097,
17,SPLIR,Split Rail Beer & Ale,Art Braunschweiger,Sales Manager,P.O. Box 555,Lander,WY,82520,USA,(307) 555-4680,(307) 555-6525
18,THEBI,The Big Cheese,Liz Nixon,Marketing Manager,89 Jefferson Way Suite 2,Portland,OR,97201,USA,(503) 555-3612,
19,THECR,The Cracker Box,Liu Wong,Marketing Assistant,55 Grizzly Peak Rd.,Butte,MT,59801,USA,(406) 555-5834,(406) 555-8083
20,TOMSP,Toms Spezialit?ten,Karin Josephs,Marketing Manager,Luisenstr. 48,M?nster,,44087,Germany,0251-031259,0251-035695
21,TRAIH,Trail's Head Gourmet Provisioners,Helvetius Nagy,Sales Associate,722 DaVinci Blvd.,Kirkland,WA,98034,USA,(206) 555-8257,(206) 555-2174
22,WANDK,Die Wandernde Kuh,Rita M?ller,Sales Representative,Adenauerallee 900,Stuttgart,,70563,Germany,0711-020361,0711-035428
23,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115

Ejercicio 7. 5 filas aleatorias

In [27]:
df_countries.sample(5)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
14,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstra?e 10,Cunewalde,,01307,Germany,0372-035188,
1,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,,68306,Germany,0621-08460,0621-08924
13,OTTIK,Ottilies K?seladen,Henriette Pfalzheim,Owner,Mehrheimerstr. 369,K?ln,,50739,Germany,0221-0644327,0221-0765721
10,LONEP,Lonesome Pine Restaurant,Fran Wilson,Sales Manager,89 Chiaroscuro Rd.,Portland,OR,97219,USA,(503) 555-9573,(503) 555-9646
20,TOMSP,Toms Spezialit?ten,Karin Josephs,Marketing Manager,Luisenstr. 48,M?nster,,44087,Germany,0251-031259,0251-035695

Ejercicio 8. is NULL?

In [29]:
df_countries.isnull().sum()

customer_id      0
company_name     0
contact_name     0
contact_title    0
address          0
city             0
region           0
postal_code      0
country          0
phone            0
fax              0
dtype: int64

9 . Mostrar los principales estadísticos.

In [30]:
df_countries.describe(include="object")

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
count,24,24,24,24,24,24,24,24,24,24,24
unique,24,24,24,9,24,23,9,24,2,24,18
top,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Portland,,12209,USA,030-0074321,
freq,1,1,1,7,1,2,11,1,13,1,7

10.Mostrar el nombre de las columnas del Dataframe.

In [32]:
df_countries.columns

Index(['customer_id', 'company_name', 'contact_name', 'contact_title',
       'address', 'city', 'region', 'postal_code', 'country', 'phone', 'fax'],
      dtype='object')